//Fonts
$medula: 'Medula One', cursive;
$lato: 'Lato', sans-serif;
$abel: 'Abel', sans-serif;

//colors
$yellow: #FCD462;


$title-size: 3em;

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
nav.navbar {
  height: 100px;
  background-color: white;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.37);
  padding: 15px;
  &-wrapper {
    width: 100%;
    margin: auto;
  }
  .branding {
    float: left;
    &-logo {
      height: 70px;
      width: 70px;
      display: inline-block;
      background-color: rgba(216, 216, 216, 0.27);
      border-radius: 100%;
      transition: all 0.5s;
      img {
        margin-top: -8px;
      }
    }
    &-brand {
      float: right;
      line-height: 70px;
      margin-left: 15px;
      font-family: $medula;
      font-size: $title-size;
      transition: all 0.5s;
    }
  }
  .navlist {
    float: right;
    line-height: 70px;
    ul {
      float: left;
      .navlist-items {
        float: left;
        list-style: none;
        margin-right: 15px;
        font-family: $abel;
      }
    }
    .navlist-menu {
      transition: all 0.5s;
      float: right;
      font-family: $medula;
      font-size: 2.25em;
      margin-left: 15px;
      border-left: 1px solid rgba(216, 216, 216, 0.4);
      #menu-icon {
        transition: all 0.5s;
        margin-right: 10px;
        #ham-menu {
          fill: $yellow;
        }
      }
    }
  }
}

.section {
  display: inline-block;
  min-height: 750px;
  height: auto;
  width: 100%;
  &-title {
    font-family: $medula;
    font-size: $title-size;
    margin-top: 75px;
    margin-bottom: 39px;
    &--center {
      text-align: center;
    }
    &--left {
      text-align: left;
      margin: 0 0 10px;
    }
    &--top {
      margin-top: 40px;
      span {
        padding-top: 10px;
        width: 150px;
        border-top: 10px solid black;
        border-bottom: none;
      }

    }
    span.yellow-border {
      border-bottom: 10px solid $yellow;
      padding-bottom: 14px;
    }
  }
  &-text {
    p {
      font-family: $abel;
      font-size: 1.5em;
    }
  }
}

header {
  background: url("../images/header-image.jpg") no-repeat center bottom;
  background-size: cover;
}

#bean-image {
  width: 220px;
  margin: auto;
  height: 300px;
  img {
    height: 220px;
    width: 220px;
    margin-top: 40px;
    border-radius: 100%;
    border: 10px solid $yellow;
  }
}
#our-coffee {
  min-height: 550px;
}
#our-coffee .section-text {
  display: table;
  height: 300px;
  div {
    display: table-cell;
    vertical-align: middle;
  }
}

#freshly-roasted {
  background-color: #F7F7F7;
  min-height: 600px;
  height: auto;
  .col-wrapper {
    padding-top: 0;
  }
}
.roasted-img {
  height: 600px;
  background: url('../images/freshly_roasted.jpg') no-repeat center center;
  background-size: cover;
}

.feature {
  width: 100%;
  display: table;
  margin-top: 30px;
  height: 150px;
  &-item {
    display: table-cell;
    width: 33%;
    height: 150px;
    margin-right: 20px;
    vertical-align: middle;
    transition: all 0.2s;
    &-wrapper {
      width: 80%;
      margin: auto;
      border: 1px solid black;
      height: 150px;
      img {
        width: 50px;
        display: block;
        margin: 20px auto 10px;
      }
      .feature-description {
        font-family: $lato;
        text-align: center;
        font-size: 1.25em;
      }
    }
  }
}

#user-stories {
  min-height: 450px;
  height: auto;
  .user-image {
    width: 200px;
    margin: auto;
  }
  .user-feedback-container {
    display: table;
    min-height: 200px;
    .user-feedback {
      display: table-cell;
      vertical-align: middle;
      font-family: $abel;
      font-size: 1.25em;
      padding: 40px;
      text-align: center;
    }
  }
}

#contact {
  min-height: 500px;
  .col-wrapper {
    padding-top: 0;
  }
  .map {
    background: url("../images/map.png") no-repeat center center;
    background-size: cover;
    min-height: 500px;
  }
}

form {
  display: inline-block;
  width: 100%;
  .form-group {
    width: 100%;
    margin-bottom: 10px;
    label {
      display: block;
      font-family: $abel;
      font-size: 1em;
      margin-bottom: 4px;
    }
    input[type='text'], textarea {
      display: inline-block;
      border: solid 1px #dcdcdc;
      height: 40px;
      width: 100%;
      font-family: $lato;
      font-size: 1em;
    }
    input[type='text']:focus, textarea:focus {
      outline: none;
      border: solid 2px $yellow;
      padding: 8px;
    }
    textarea {
      height: 120px;
    }
  }
  .button {
    height: 40px;
    width: 200px;
    border: solid 2px $yellow;
    background-color: rgba(0, 0, 0, 0);
    font-family: $abel;
    font-size: 1em;
    transition: all 0.5s;
  }
  .button:hover {
    background-color: $yellow;
    color: white;
    font-size: 1.125em;
  }
}

footer {
  color: white;
  font-family: $abel;
  width: 100%;
  height: 120px;
  background-color: #2A2C24;
  a {
    text-decoration: none;
    color: $yellow;
  }
}

// Grid layout
.row {
  width: 100%;
  float: left;
  clear: both;
  .col {
    float: left;
  }
  .col-wrapper { padding: 40px }
  .col-one-third { width: 36%; }
  .col-one-half { width: 50%; }
  .col-two-third { width: 64%; }
  .col-one-fourth { width: 25%; }
  .col-three-fourth { width: 75%; }
}

@media screen and (max-width: 446px) {
  nav.navbar {
    .branding {
      &-logo {
        height: 50px;
        width: 50px;
        transform: translate(0px, 10px);
        img {
          margin-top: -8px;
        }
      }
      &-brand {
        font-size: 2.5em;
      }
    }
    .navlist {
      .navlist-menu {
        font-size: 1.75em;
        border: none;
        margin-left: 0;
        #menu-icon {
          transform: scale(0.7) translate(0px, 6px);
          margin-right: 5px;
          #ham-menu {
            fill: $yellow;
          }
        }
      }
    }
  }
  .feature {
    &-item {
      display: block;
      margin: 0 0 20px 0;
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .row {
    .col-one-third { width: 100% }
    .col-two-third { width: 100% }
    .col-one-half { width: 100% }
    .col-one-fourth { width: 100% }
    .col-three-fourth { width: 100% }
  }
  .navlist ul {
    display: none;
  }
  .section {
    min-height: 750px;
    height: auto;
  }
  #freshly-roasted {
    .feature-description {
      font-size: 1em;
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1000px) {
  #freshly-roasted {
    .feature-item-wrapper {
      width: 98%;
    }
    .feature-description {
      font-size: 1em;
    }
  }
}

@media screen and (min-width: 1224px) {
  .row-wrapper {
    width: 80%;
    margin: auto;
  }
}