//Fonts
$medula: 'Medula One', cursive;
$lato: 'Lato', sans-serif;
$abel: 'Abel', sans-serif;

//colors
$yellow: #FCD462;


$title-size: 3em;

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
nav.navbar {
  height: 100px;
  background-color: white;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.37);
  padding: 15px;
  &-wrapper {
    width: 100%;
    margin: auto;
  }
  .branding {
    float: left;
    &-logo {
      height: 70px;
      width: 70px;
      display: inline-block;
      background-color: rgba(216, 216, 216, 0.27);
      border-radius: 100%;
      img {
        margin-top: -8px;
      }
    }
    &-brand {
      float: right;
      line-height: 70px;
      margin-left: 15px;
      font-family: $medula;
      font-size: $title-size;
    }
  }
  .navlist {
    float: right;
    line-height: 70px;
    ul {
      float: left;
      .navlist-items {
        float: left;
        list-style: none;
        margin-right: 15px;
        font-family: $abel;
      }
    }
    .navlist-menu {
      float: right;
      font-family: $medula;
      font-size: 2.25em;
      margin-left: 15px;
      border-left: 1px solid rgba(216, 216, 216, 0.4);
      #menu-icon {
        margin-right: 10px;
        #ham-menu {
          fill: $yellow;
        }
      }
    }
  }
}

.section {
  height: 750px;
  width: 100%;
  &-title {
    font-family: $medula;
    font-size: $title-size;
    margin-top: 75px;
    margin-bottom: 39px;
    &--center {
      text-align: center;
    }
    &--left {
      text-align: left;
      margin: 0 40px 10px;
    }
    &--top {
      margin-top: 40px;
      span {
        padding-top: 10px;
        width: 150px;
        border-top: 10px solid black;
        border-bottom: none;
      }

    }
    span.yellow-border {
      border-bottom: 10px solid $yellow;
      padding-bottom: 14px;
    }
  }
  &-text {
    padding: 0px 40px;
    p {
      font-family: $abel;
      font-size: 1.5em;
    }
  }
}

header {
  background: url("../images/header-image.jpg") no-repeat center bottom;
  background-size: cover;
}

#bean-image {
  width: 220px;
  //margin-left: 30%;
  margin: auto;
  height: 300px;
  img {
    height: 220px;
    width: 220px;
    margin-top: 40px;
    border-radius: 100%;
    border: 10px solid $yellow;
  }
}
#our-coffee {
  height: 550px;
}
#our-coffee .section-text {
  display: table;
  height: 300px;
  div {
    display: table-cell;
    vertical-align: middle;
  }
}

#freshly-roasted {
  background-color: #F7F7F7;
  min-height: 550px;
  height: auto;
  .col-one-half {
    background-color: #F7F7F7;
  }
}
.roasted-img {
  height: 550px;
  background: url('../images/freshly_roasted.jpg') no-repeat center center;
  background-size: cover;
}

.feature {
  width: 100%;
  display: table;
  margin-top: 30px;
  height: 150px;
  &-item {
    display: table-cell;
    width: 33%;
    height: 150px;
    margin-right: 20px;
    vertical-align: middle;
    &-wrapper {
      width: 80%;
      margin: auto;
      border: 1px solid black;
      height: 150px;
      img {
        width: 50px;
        display: block;
        margin: 20px auto 10px;
      }
      .feature-description {
        font-family: $lato;
        text-align: center;
        font-size: 1.25em;
      }
    }
  }
}

// Grid layout
.row {
  width: 100%;
  float: left;
  clear: both;
  .col {
    float: left;
  }
  .col-one-third { width: 36%; }
  .col-one-half { width: 50%; }
  .col-two-third { width: 64%; }
  .col-one-fourth { width: 25%; }
  .col-three-fourth { width: 75%; }
}

@media screen and (max-width: 720px) {
  .row {
    .col-one-third { width: 100% }
    .col-two-third { width: 100% }
    .col-one-half { width: 100% }
  }
  .navlist ul {
    display: none;
  }
  .section {
    min-height: 750px;
    height: auto;
  }
}