* {
  border: 0;
  margin: 0;
  box-sizing: border-box; }

nav.navbar {
  height: 100px;
  background-color: white;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.37);
  padding: 15px; }
  nav.navbar-wrapper {
    width: 100%;
    margin: auto; }
  nav.navbar .branding {
    float: left; }
    nav.navbar .branding-logo {
      height: 70px;
      width: 70px;
      display: inline-block;
      background-color: rgba(216, 216, 216, 0.27);
      border-radius: 100%;
      transition: all 0.5s; }
      nav.navbar .branding-logo img {
        margin-top: -8px; }
    nav.navbar .branding-brand {
      float: right;
      line-height: 70px;
      margin-left: 15px;
      font-family: "Medula One", cursive;
      font-size: 3em;
      transition: all 0.5s; }
  nav.navbar .navlist {
    float: right;
    line-height: 70px; }
    nav.navbar .navlist ul {
      float: left; }
      nav.navbar .navlist ul .navlist-items {
        float: left;
        list-style: none;
        margin-right: 15px;
        font-family: "Abel", sans-serif; }
    nav.navbar .navlist .navlist-menu {
      transition: all 0.5s;
      float: right;
      font-family: "Medula One", cursive;
      font-size: 2.25em;
      margin-left: 15px;
      border-left: 1px solid rgba(216, 216, 216, 0.4); }
      nav.navbar .navlist .navlist-menu #menu-icon {
        transition: all 0.5s;
        margin-right: 10px; }
        nav.navbar .navlist .navlist-menu #menu-icon #ham-menu {
          fill: #FCD462; }

.section {
  display: inline-block;
  min-height: 750px;
  height: auto;
  width: 100%; }
  .section-title {
    font-family: "Medula One", cursive;
    font-size: 3em;
    margin-top: 75px;
    margin-bottom: 39px; }
    .section-title--center {
      text-align: center; }
    .section-title--left {
      text-align: left;
      margin: 0 0 10px; }
    .section-title--top {
      margin-top: 40px; }
      .section-title--top span {
        padding-top: 10px;
        width: 150px;
        border-top: 10px solid black;
        border-bottom: none; }
    .section-title span.yellow-border {
      border-bottom: 10px solid #FCD462;
      padding-bottom: 14px; }
  .section-text p {
    font-family: "Abel", sans-serif;
    font-size: 1.5em; }

header {
  background: url("../images/header-image.jpg") no-repeat center bottom;
  background-size: cover; }

#bean-image {
  width: 220px;
  margin: auto;
  height: 300px; }
  #bean-image img {
    height: 220px;
    width: 220px;
    margin-top: 40px;
    border-radius: 100%;
    border: 10px solid #FCD462; }

#our-coffee {
  min-height: 550px; }

#our-coffee .section-text {
  display: table;
  height: 300px; }
  #our-coffee .section-text div {
    display: table-cell;
    vertical-align: middle; }

#freshly-roasted {
  background-color: #F7F7F7;
  min-height: 600px;
  height: auto; }
  #freshly-roasted .col-wrapper {
    padding-top: 0; }

.roasted-img {
  height: 600px;
  background: url("../images/freshly_roasted.jpg") no-repeat center center;
  background-size: cover; }

.feature {
  width: 100%;
  display: table;
  margin-top: 30px;
  height: 150px; }
  .feature-item {
    display: table-cell;
    width: 33%;
    height: 150px;
    margin-right: 20px;
    vertical-align: middle;
    transition: all 0.2s; }
    .feature-item-wrapper {
      width: 80%;
      margin: auto;
      border: 1px solid black;
      height: 150px; }
      .feature-item-wrapper img {
        width: 50px;
        display: block;
        margin: 20px auto 10px; }
      .feature-item-wrapper .feature-description {
        font-family: "Lato", sans-serif;
        text-align: center;
        font-size: 1.25em; }

#user-stories {
  min-height: 450px;
  height: auto; }
  #user-stories .user-image {
    width: 200px;
    margin: auto; }
  #user-stories .user-feedback-container {
    display: table;
    min-height: 200px; }
    #user-stories .user-feedback-container .user-feedback {
      display: table-cell;
      vertical-align: middle;
      font-family: "Abel", sans-serif;
      font-size: 1.25em;
      padding: 40px;
      text-align: center; }

#contact {
  min-height: 500px; }
  #contact .col-wrapper {
    padding-top: 0; }
  #contact .map {
    background: url("../images/map.png") no-repeat center center;
    background-size: cover;
    min-height: 500px; }

form {
  display: inline-block;
  width: 100%; }
  form .form-group {
    width: 100%;
    margin-bottom: 10px; }
    form .form-group label {
      display: block;
      font-family: "Abel", sans-serif;
      font-size: 1em;
      margin-bottom: 4px; }
    form .form-group input[type='text'], form .form-group textarea {
      display: inline-block;
      border: solid 1px #dcdcdc;
      height: 40px;
      width: 100%;
      font-family: "Lato", sans-serif;
      font-size: 1em; }
    form .form-group input[type='text']:focus, form .form-group textarea:focus {
      outline: none;
      border: solid 2px #FCD462;
      padding: 8px; }
    form .form-group textarea {
      height: 120px; }
  form .button {
    height: 40px;
    width: 200px;
    border: solid 2px #FCD462;
    background-color: transparent;
    font-family: "Abel", sans-serif;
    font-size: 1em;
    transition: all 0.5s; }
  form .button:hover {
    background-color: #FCD462;
    color: white;
    font-size: 1.125em; }

footer {
  color: white;
  font-family: "Abel", sans-serif;
  width: 100%;
  height: 120px;
  background-color: #2A2C24; }
  footer a {
    text-decoration: none;
    color: #FCD462; }

.row {
  width: 100%;
  float: left;
  clear: both; }
  .row .col {
    float: left; }
  .row .col-wrapper {
    padding: 40px; }
  .row .col-one-third {
    width: 36%; }
  .row .col-one-half {
    width: 50%; }
  .row .col-two-third {
    width: 64%; }
  .row .col-one-fourth {
    width: 25%; }
  .row .col-three-fourth {
    width: 75%; }

@media screen and (max-width: 446px) {
  nav.navbar .branding-logo {
    height: 50px;
    width: 50px;
    transform: translate(0px, 10px); }
    nav.navbar .branding-logo img {
      margin-top: -8px; }
  nav.navbar .branding-brand {
    font-size: 2.5em; }
  nav.navbar .navlist .navlist-menu {
    font-size: 1.75em;
    border: none;
    margin-left: 0; }
    nav.navbar .navlist .navlist-menu #menu-icon {
      transform: scale(0.7) translate(0px, 6px);
      margin-right: 5px; }
      nav.navbar .navlist .navlist-menu #menu-icon #ham-menu {
        fill: #FCD462; }
  .feature-item {
    display: block;
    margin: 0 0 20px 0;
    width: 100%; } }

@media screen and (max-width: 768px) {
  .row .col-one-third {
    width: 100%; }
  .row .col-two-third {
    width: 100%; }
  .row .col-one-half {
    width: 100%; }
  .row .col-one-fourth {
    width: 100%; }
  .row .col-three-fourth {
    width: 100%; }
  .navlist ul {
    display: none; }
  .section {
    min-height: 750px;
    height: auto; }
  #freshly-roasted .feature-description {
    font-size: 1em; } }

@media screen and (min-width: 769px) and (max-width: 1000px) {
  #freshly-roasted .feature-item-wrapper {
    width: 98%; }
  #freshly-roasted .feature-description {
    font-size: 1em; } }

@media screen and (min-width: 1224px) {
  .row-wrapper {
    width: 80%;
    margin: auto; } }
