* {
  border: 0;
  margin: 0;
  box-sizing: border-box; }

nav.navbar {
  height: 100px;
  background-color: white;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.37);
  padding: 15px; }
  nav.navbar-wrapper {
    width: 100%;
    margin: auto; }
  nav.navbar .branding {
    float: left; }
    nav.navbar .branding-logo {
      height: 70px;
      width: 70px;
      display: inline-block;
      background-color: rgba(216, 216, 216, 0.27);
      border-radius: 100%; }
      nav.navbar .branding-logo img {
        margin-top: -8px; }
    nav.navbar .branding-brand {
      float: right;
      line-height: 70px;
      margin-left: 15px;
      font-family: "Medula One", cursive;
      font-size: 3em; }
  nav.navbar .navlist {
    float: right;
    line-height: 70px; }
    nav.navbar .navlist ul {
      float: left; }
      nav.navbar .navlist ul .navlist-items {
        float: left;
        list-style: none;
        margin-right: 15px;
        font-family: "Abel", sans-serif; }
    nav.navbar .navlist .navlist-menu {
      float: right;
      font-family: "Medula One", cursive;
      font-size: 2.25em;
      margin-left: 15px;
      border-left: 1px solid rgba(216, 216, 216, 0.4); }
      nav.navbar .navlist .navlist-menu #menu-icon {
        margin-right: 10px; }
        nav.navbar .navlist .navlist-menu #menu-icon #ham-menu {
          fill: #FCD462; }

.section {
  height: 750px;
  width: 100%; }
  .section-title {
    font-family: "Medula One", cursive;
    font-size: 3em;
    margin-top: 75px;
    margin-bottom: 39px; }
    .section-title--center {
      text-align: center; }
    .section-title--left {
      text-align: left;
      margin: 0 40px 10px; }
    .section-title--top {
      margin-top: 40px; }
      .section-title--top span {
        padding-top: 10px;
        width: 150px;
        border-top: 10px solid black;
        border-bottom: none; }
    .section-title span.yellow-border {
      border-bottom: 10px solid #FCD462;
      padding-bottom: 14px; }
  .section-text {
    padding: 0px 40px; }
    .section-text p {
      font-family: "Abel", sans-serif;
      font-size: 1.5em; }

header {
  background: url("../images/header-image.jpg") no-repeat center bottom;
  background-size: cover; }

#bean-image {
  width: 220px;
  margin: auto;
  height: 300px; }
  #bean-image img {
    height: 220px;
    width: 220px;
    margin-top: 40px;
    border-radius: 100%;
    border: 10px solid #FCD462; }

#our-coffee {
  height: 550px; }

#our-coffee .section-text {
  display: table;
  height: 300px; }
  #our-coffee .section-text div {
    display: table-cell;
    vertical-align: middle; }

#freshly-roasted {
  background-color: #F7F7F7;
  min-height: 550px;
  height: auto; }
  #freshly-roasted .col-one-half {
    background-color: #F7F7F7; }

.roasted-img {
  height: 550px;
  background: url("../images/freshly_roasted.jpg") no-repeat center center;
  background-size: cover; }

.feature {
  width: 100%;
  display: table;
  margin-top: 30px;
  height: 150px; }
  .feature-item {
    display: table-cell;
    width: 33%;
    height: 150px;
    margin-right: 20px;
    vertical-align: middle; }
    .feature-item-wrapper {
      width: 80%;
      margin: auto;
      border: 1px solid black;
      height: 150px; }
      .feature-item-wrapper img {
        width: 50px;
        display: block;
        margin: 20px auto 10px; }
      .feature-item-wrapper .feature-description {
        font-family: "Lato", sans-serif;
        text-align: center;
        font-size: 1.25em; }

.row {
  width: 100%;
  float: left;
  clear: both; }
  .row .col {
    float: left; }
  .row .col-one-third {
    width: 36%; }
  .row .col-one-half {
    width: 50%; }
  .row .col-two-third {
    width: 64%; }
  .row .col-one-fourth {
    width: 25%; }
  .row .col-three-fourth {
    width: 75%; }

@media screen and (max-width: 720px) {
  .row .col-one-third {
    width: 100%; }
  .row .col-two-third {
    width: 100%; }
  .row .col-one-half {
    width: 100%; }
  .navlist ul {
    display: none; }
  .section {
    min-height: 750px;
    height: auto; } }
